.jump-link{
    display: block;
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    user-select: none;
}
header{
    min-width: 1120px;
    padding: 8px 2.75rem;
}

.btn {
    display: inline-block;
}

[class$="-ico"] {
    padding: 8px;
}

.ico-menu::after {
    content: "";
    background-image: url(./asset/ico_menu.png);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.s-button {
    padding: 6px 12px;
    background-color: #eee;
}

.ico-search::after {
    content: "";
    background-image: url(./asset/ico_search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.search-area > * {
    display: inline-block;
}

.ico-eye::after {
    content: "";
    background-image: url(./asset/ico_search.png);
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

