body {
    min-width: 1120px;
    max-width: 99.75rem;
    height: 100%;
    margin: 0 auto;
    background-color: #eaecf0;
}

.main{
    position: relative;
    padding-top: 40px;
    width: 100%;
    height: max-content;
    background-color: #fff;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 8px 2.75rem;
    font-size: 14px;
    background-color: #fff;
}

.main-home__link {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.main-search {
    flex-grow: 1;
}

.main-search__area {
    max-width: 40em;
    display: flex;
}

.main-search__field {
    display: flex;
    flex-grow: 1;
    border: solid #72777d;
    border-width: 1px 0 1px 1px;
}

.main-search__field:focus {
    border: 2px solid #36c;
}

.main-search__field > .search__input {
    flex-basis: auto;
    flex-grow: 1;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4px;
}

.nav-menu__list {
    display: flex;
    gap: 12px;
}

[class$="popup"] {
    display: none;
    position: absolute;
    top: 100%;
    padding: 16px;
    width: max-content;
    z-index: 1;
    box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.setting-menu__popup,
.more__popup {
    right: 0;
}

.link-button {
    font-size: 14px;
    font-weight: 500;
    padding: 0 12px;
    background-color: #f8f9fa;
    border: 1px solid #72777d;
}

.main-menu__title,
.setting-menu__title {
    padding-bottom: 6px;
    border-bottom: 1px solid #eaecf0;
    margin-bottom: 8px;
}

.main-menu__title:not(:first-child),
.setting-menu__title:not(:first-child) {
    margin-top: 8px;
}

.main-menu__area:not(:last-child),
.setting-menu__area:not(:last-child) {
    margin-bottom: 16px;
}

.main-menu__list-item > a,
.nav-menu__list-item > a,
.more__list > a {
    display: block;
    padding: 4px 0;
    color: #3056a9;
    font-weight: 300;
}

.setting-menu__list-item  {
    padding: 4px 0;
}

.ch-radio {
    list-style: none;
}

label[for^="text"] {
    padding-left: 28px;
    cursor: pointer;
}

.main-menu__title > strong,
.setting-menu__title > strong {
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
}

.more__list-heading a::before {
    content: "(";
}

.more__list-heading a::after {
    content: ")";
}

.more__list-heading > a {
    display: block;
    color: #3056a9;
    font-weight: 300;
}

.s-button {
    font-size: 12px;
    color: #202122;
    padding: 4px 8px;
    background-color: #eaecf0;
}

.s-button:hover {
    background-color: #f8f9fa;
}

.s-button:focus {
    border: 2px solid #36c;
}


.main-menu,
.main-home,
.setting-menu, .more {
    position: relative;
}

[class*="ico"] {
    display: inline-block;
    padding: 8px;
}

[class*="ico"]::after {
    display: block;
    content: "";
    background-size: 24px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

[class*="ico__btn"]:hover {
    background-color: #eaecf0;
}

.menu-ico__btn::after {
    background-image: url(./asset/ico_menu.png);
}

.search-ico__btn::after {
    background-image: url(./asset/ico_search.png);
}

.search-ico::after {
    background-image: url(./asset/ico_search.png);
}

.text-edit-ico__btn::after {
    background-image: url(./asset/ico_text-edit.png);
}

.more-ico__btn::after {
    background-image: url(./asset/ico_more.png);
}