.header{
  display: flex;
  height: 80px;
  margin: 0 80px;
}

.icon{
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

.main_title{
  font-size: 32px;
}

.serve_title{
  font-size: 14px;
}